name = "FBCModelTests"
uuid = "1060cd45-1c33-4a14-be81-8fa38fdd82bf"
authors = ["The developers of FBCModelTests.jl"]
version = "0.1.0"

[deps]
COBREXA = "babc4406-5200-4a30-9033-bf5ae714c842"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
JuMP = "4076af6c-e467-56ae-b986-b466b2749572"
MD5 = "6ac74813-4b46-53a4-afec-0b5dc9d7885c"
PeriodicTable = "7b2266bf-644c-5ea3-82d8-af4bbd25a884"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
SBML = "e5567a89-2604-4b09-9718-f5f78e97c3bb"
SHA = "ea8e919c-243c-51af-8825-aaa63cd721ce"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
COBREXA = "1"
DocStringExtensions = "0.9"
JSON = "0.21"
JuMP = "1"
MD5 = "0.2"
PeriodicTable = "1"
SBML = "1"

[extras]
Downloads = "f43a241f-c20a-4ad4-852c-f6b1247861c6"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Tulip = "6dd1b50a-3aae-11e9-10b5-ef983d2400fa"

[targets]
test = ["Downloads", "Test", "Tulip"]
